USE [Concesionaria]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 04/11/2020 01:28:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[MarcaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[MarcaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 04/11/2020 01:28:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[ModeloID] [int] IDENTITY(1,1) NOT NULL,
	[MarcaID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[ModeloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 04/11/2020 01:28:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[VehiculoID] [int] NOT NULL,
	[ModeloID] [int] NOT NULL,
	[NumeroChasis] [int] NOT NULL,
	[NumeroCarroceria] [int] NOT NULL,
	[Patente] [varchar](7) NOT NULL,
	[NumeroPuertas] [smallint] NOT NULL,
	[Color] [int] NOT NULL,
	[Caja] [int] NOT NULL,
	[Cilindrada] [decimal](18, 2) NOT NULL,
	[Tapizado] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculo] PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([MarcaID], [Nombre]) VALUES (1, N'Volkswagen')
INSERT [dbo].[Marca] ([MarcaID], [Nombre]) VALUES (2, N'Peugeot')
INSERT [dbo].[Marca] ([MarcaID], [Nombre]) VALUES (3, N'Renault')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([ModeloID], [MarcaID], [Nombre]) VALUES (1, 1, N'Gol Trend')
INSERT [dbo].[Modelo] ([ModeloID], [MarcaID], [Nombre]) VALUES (5, 3, N'18')
INSERT [dbo].[Modelo] ([ModeloID], [MarcaID], [Nombre]) VALUES (6, 1, N'Bora')
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([MarcaID])
REFERENCES [dbo].[Marca] ([MarcaID])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Modelo] FOREIGN KEY([ModeloID])
REFERENCES [dbo].[Modelo] ([ModeloID])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Modelo]
GO
